body {
    background: #b2bec3;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 660px;
    height: 183px;
    margin: auto;
    background: url("../imgs/logo.png");
}

.score_bar {
    display: flex;
    justify-content: center;
}


.bombs_number {
    height: 50px;
    width: 300px;
    margin: 5px;
    background: #d2dae2;
    border: 2px solid black;
    border-radius: 5px;
}

.level {
    height: 50px;
    width: 300px;
    margin: 5px;
    background: #d2dae2;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    width: 150px;
    height: 50px;
    border: black solid 2px;
    border-radius: 7px;
    margin: auto;
    background: #0be881;
}

.playing-field {
    position: relative;
    height: 650px;
    width: 650px;
    margin: auto;
}


.grass {
    position: absolute;
    height: 50px;
    width: 50px;
    background: url("../imgs/grass-2.png");
}

.strong-block {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/strong-block.png");
}

.light-block {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/light-block.png");
}

.box {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/box.png");
}

.left-wall {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/left-wall.png");
}

.top-wall {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/wall.png");
}

.bomberman {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/bomberman.png");
    z-index: 3;
}

.enemy {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/enemy.png");
    z-index: 3;
}

.bomb {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/bomb.png");
    z-index: 3;
}

.new-bomb {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/new_bomb.png");
    z-index: 3;
}

.explosion {
    height: 50px;
    width: 50px;
    position: absolute;
    background: url("../imgs/explosion.png");
    z-index: 3;
}
